.brandnew {
  padding: 1rem;
  color: white;
  background-color: black;
  margin: 0;
  text-align: center;
}

.brandnewwolf {
  padding: 30vh 0;
}

/* .sciencefiction {
  background-image: url("https://Benceroni.github.io/ONI/images/artworks-000113241735-41w30u-t500x500-3175144372.jpeg");
  box-shadow: 0 0 100px 8px black inset;
} */

.outro {
  height: 200vh;
  background-image: linear-gradient(to bottom, black, rgb(255, 198, 228));
  box-shadow: 0 4px 2px -2px rgb(255, 198, 228);
}

.spacer {
  height: 50vh;
}
.spacer2 {
  height: 25vh;
}

.title {
  text-align: center;
  font-size: larger;
}

.justifyleft {
  text-align: left;
}
